jobs:
  validate-hacs:
    if: ${{ github.event.repository.private == false }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: HACS validation
        uses: hacs/action@main
        with:
          category: integration
          ignore: brands